


.btn-success {
    color: #fff;
    background-color: #16a0ab;
    border-color: #16a0ab;
    font-family: Georgia;
    padding: 10px 16px;
    border-radius: 3%;
    font-weight: bold;
    box-shadow:none;
}


h1{
    color:  #16a0ab;
    font-family: Georgia;
    font-weight: bold;
}
h2{
    color:  #16a0ab;
    font-family: Georgia;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
h3{
    color:  #16a0ab;
    font-family: Georgia;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
thead{
    font-weight: bolder;
}

.abc{
    padding: 10px;
}

.body1{
    
    background-color:rgb(231, 225, 225);
    
    padding: 35px;
}

.elementbox{
    background-color: white;
    padding: none;
    
}
.landing1{
    
    padding:none;
    border-style: solid;
    border-color:rgb(231, 225, 225);
    border-right-width: 80px;
    
    
}